@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    
}

body{
    height: 900vh;
    background-color: #B6CDBD;
}

nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #F2F9F1;
    padding: 40px 0px 40px 1%;
    /*box-shadow: 1px 0 0 #B6CDBD;*/
    border-radius: 10px;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}


nav.menu-lateral:hover{
    width: 300px;
    transition: .2s;
}


.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #5C715E;
    font-size: 24px;
    cursor: pointer;
} 

ul{
   height: 100%;
   list-style-type: none; 
}

ul li.item-menu a{
    color: #5C715E;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu:hover{
    background: #B6CDBD;
}
ul li.item-menu{
    transition: 0.3s;
}

ul li.item-menu a .txt-link{
    margin-left: 30px;;
}

ul li.item-menu a .icon{
    font-size: 30px;
    margin-left: 10px;
}

